.checkbox {
	position: relative;
	&:not(:last-child) {
		margin-bottom: em(20);
	}
	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		&:focus + .checkbox__label:before {
			//box-shadow: 0 0 5px #000;
		}
		&:checked + .checkbox__label::after {
			transform: scale(1);
		}
	}
	// .checkbox__label
	&__label {
		cursor: pointer;
		display: flex;
		align-items: center;
		position: relative;
		gap: 10px;
  small {
   padding-left: rem(15);
  }
  &:not(:last-child) {
   margin-bottom: rem(20);
  }
		&:before {
			content: "";
			align-self: flex-start;
			flex: 0 0 rem(20);
			width: rem(20);
			height: rem(20);
			border: 1px solid #e8aa31;
   border-radius: rem(2)
		}
  &::after {
   @include pseudo;
   transition: all 0.3s ease 0s;
   transform: scale(0);
   background-color: $accentColor;
   width: rem(16);
   height: rem(16);
   top: rem(2);
   left: rem(2);

  }
	}
	// .checkbox__text
	&__text {
  font-size: rem(16);
  line-height: math.div(20, 16);
  small {
   color: $accentColor;
  }
	}
}
