.breadcrumbs {
 white-space: nowrap;
 overflow: auto;
 // .breadcrumbs__list
 &__list {
  display: flex;
 }
 // .breadcrumbs__link
 &__link {
  font-size: rem(16);
  line-height: math.div(20, 16);
  opacity: 0.5;
  margin-right: rem(40);
  position: relative;
  &::after {
   @include pseudo;
   @include background (url("../img/icons/breadcrumbs-arrow.svg"));
   width: rem(7);
   height: rem(11);
   right: rem(-20);
   top: 50%;
   transform: translateY(-50%);
  }
 }
 // .breadcrumbs__current
 &__current {
  font-size: rem(16);
  line-height: math.div(20, 16);
  color: $accentColor;
 }
}

.pagging {
 display: flex;
 justify-content: flex-end;
 align-items: center;
 gap: rem(30);
 @include adaptiveValue("gap", 30, 15);
 @media (max-width: $tablet) {
  justify-content: center;
 }
 // .pagging__arrow
 &__arrow {
  svg {
   path {
    fill: $accentColor;
    fill-opacity: 1;
   }
  }
  &:disabled {
   svg {
    path {
     fill: rgba(0, 0, 0, 0.12);
    }
   }
  }
  // .pagging__arrow_right
  &_right {
   svg {
    transform: rotate(180deg);
   }
  }
 }
 // .pagging__list
 &__list { 
  display: flex;
  align-items: center;
  gap: rem(13);
 }
 // .pagging__link
 &__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(34);
  height: rem(34);
  border-radius: 50%;
  line-height: math.div(32, 18);
  background-color: $primaryColor;
  &._active {
   background-color: $accentColor;
   color: $primaryColor;
  }
  &:hover {
   background-color: $accentColor;
   color: $primaryColor;
  }
 }
}