.product {
}
.main-product {
 display: grid;
 @include adaptiveValue("margin-bottom", 120, 40);
 // .main-product__images
 &__images {
  @media (min-width: $tablet) {
   padding-right: rem(30);
  }
 }
 @media (min-width: 1240px) {
  grid-template-columns: percent(765, 1600) 1fr;
 }
}
.images-product {
 display: grid;
 gap: rem(16);
 // .images-product__slide-ibg
 &__slide-ibg {
  padding-bottom: percent(577, 754);
  // img {
  //  width: 100%;
  //  height: 100%;
  // }
 }
}

.thumbs-images {
 // .thumbs-images__slide-ibg
 &__slide-ibg {
  padding-bottom: percent(177, 754);
  // img {
  //  width: 100%;
  //  height: 100%;
  // }
 }
}

.main-product__body {
 background: #FEFEFE;
 box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
 @include adaptiveValue("padding", 30, 10);
}
.header-product {
 border-bottom: 1px solid rgba(20, 20, 20, 0.15);
 padding-bottom: rem(30);
 // .header-product__line
 &__line {
  display: flex;
  gap: rem(30);
  margin-bottom: rem(15);
 }
 // .header-product__title
 &__title {
  font-weight: 700;
  @include adaptiveValue("font-size", 24, 20);
  line-height: math.div(29, 24);
  flex: 1 1 auto;
 }
 // .header-product__link
 &__link {
 }
 // .header-product__rating
 &__rating {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: rem(10);
 }
 //.header-product__status
 &__status {
  font-size: rem(16);
  line-height: math.div(20, 16);
  color: #24AD53;
 }
}
.table-product {
 display: grid;
 gap: rem(20);
 border-bottom: 1px solid rgba(20, 20, 20, 0.15);
 padding: rem(30) 0;
 @media (min-width: $mobile) {
  grid-template-columns: rem(200) 1fr;
 }
 // .table-product__label
 &__label {
 }
 // .table-product__value
 &__value {
  color: rgba(20, 20, 20, 0.5);
 }
}

.options-product {
 display: grid;
 grid-template-columns: rem(200) 1fr;
 gap: rem(35);
 border-bottom: 1px solid rgba(20, 20, 20, 0.15);
 padding: rem(30) 0;
 @media (max-width: $mobile) {
  display: block;
 }
 // .options-product__label
 &__label {
  align-self: center;
  @media (max-width: $mobile) {
   margin-bottom: rem(15);
  }
 }
 // .options-products__value
 &__value {
  max-width: rem(550);
  width: 100%;
  .select__value {
   width: 100%;
   padding: 0 0 0 rem(20);
  }
 }
}
.action-product {
 padding: rem(30) 0;
 // .action-product__top 
 &__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: rem(35);
  @media (max-width: $mobileSmall) {
   flex-direction: column;
   gap: rem(10);
  }
 }
 // .action-product__price
 &__price {
  font-weight: 700;
  //font-size: rem(30);
  @include adaptiveValue("font-size", 30, 24);
  line-height: math.div(37, 30);
  display: inline-block;
  padding-right: rem(15);
  position: relative;
  &::after {
   @include pseudo;
   @include background(url("../img/icons/rub.svg"));
   width: rem(15);
   height: rem(20);
   right: rem(-7);
   top: rem(7);
  }
 }
  // .action-product__scores 
  &__scores {
   font-size: rem(14);
   line-height: math.div(17, 14);
   color: rgba(20, 20, 20, 0.5);
   margin: 0 rem(20) 0 auto;
   @media (max-width: $mobileSmall) {
    margin: 0;
   }
  }
  // .action-product__question
  &__question {
   font-size: rem(12);
   color: #000000;
   padding: rem(3) rem(6);
   background-color: rgba(20, 20, 20, 0.3);
   border-radius: 50%;
   cursor: pointer;
  }
 // .action-product__row
 &__row {
  display: flex;
  gap: rem(20);
  @media (max-width: em(1520)) {
   flex-direction: column;
  }
  @media (max-width: $mobileSmall) {
   align-items: center;
  }
 }
 // .action-product__quantity
 &__quantity {
  //margin-right: auto;
 }
 // .action-product__buttons
 &__buttons {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  gap: rem(30);
  @media (min-width: em(1520)) {
   justify-content: flex-end;     
  }
 }
 // .action-product__cart
 &__cart {
  padding: rem(2) rem(62);
  line-height: math.div(46, 18);
 }
}

.product-info {
 @include adaptiveValue("padding-bottom", 120, 40);
 // .product-info__tabs
 &__tabs {
  background-color: #FEFEFE;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  @include adaptiveValue("padding", 30, 10);
 }
 // .product-info__navigation
 &__navigation {
  display: flex;
  @include adaptiveValue("gap", 60, 30);
  padding-bottom: rem(20);
  margin-bottom: rem(30);
  border-bottom: 1px solid rgba(20, 20, 20, 0.15);
  @media (max-width: $mobile) {
   flex-direction: column;
  }
 }
 // .product-info__title
 &__title {
  font-weight: 600;
  font-size: rem(20);
  line-height: math.div(24, 20);
  color: rgba(20, 20, 20, 0.5);
  &._tab-active {
			color: $mainDarkColor;
   position: relative;
   transition: all 0.5s;
   &::after {
    @include pseudo;
    border-bottom: 2px solid $accentColor;
    width: 100%; 
    top: 43px;
   }
		}
 }
 // .product-info__content
 &__content {
 }
 // .product-info__body
 &__body {
  @include adaptiveValue("font-size", 18, 14);
 }
 // .product-info__text
 &__text {
  max-width: rem(1410);
  &:not(:last-child) {
   margin-bottom: rem(30);
  }
 }
 // .product-info__label
 &__label {
 }
 //.product-info__items 
 &__items {
  display: grid;
  gap: rem(30);
  @media (min-width: $mobile) {
   grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  } 
 }
 // .product-info__item
 &__item {
  @media (min-width: $mobile) {
   &:not(:last-child) {
    border-right: 1px solid rgba(20, 20, 20, 0.15);
   }
  }
 }
 //.product-info__item-title 
 &__item-title {
  font-weight: 700;
  line-height: math.div(22, 18);
  margin-bottom: rem(30);
 }
 // .product-info__box
 &__box {
  display: grid;
  grid-template-columns: (200px) minmax(100px, 300px);
  gap: rem(20);
 }
 // .product-info__label 
 &__label {
 }
 // .product-info__value
 &__value {
 }
 // .product-info__reviews
 &__reviews {
 }
 // .product-info__review
 &__review {
  max-width: rem(910);
  &:not(:last-child) {
   border-bottom: 1px solid rgba(20, 20, 20, 0.15);
   padding-bottom: rem(30);
   margin-bottom: rem(30);
  }
 }
 // .product-info__user
 &__user {
  display: flex;
  margin-bottom: rem(10);
 }
 // .product-info__user-pic
 &__user-pic {
  margin-right: rem(30);
  @include adaptiveValue("margin-right", 30, 5);
 }
 // .product-info__user-info
 &__user-info {
 }
 // .product-info__user-name
 &__user-name {
  font-weight: 600;
  line-height: math.div(22, 18);
  margin-bottom: rem(10);
 }
 // .product-info__user-date
 &__user-date {
  margin-left: auto;
 }
 // .product-info__review-text
 &__review-text {
  line-height: math.div(27, 18);
  margin-bottom: rem(20);
 }
 // .product-info__review-bottom
 &__review-content {
  max-width: rem(835);
  margin-left: auto;
  @include adaptiveValue("padding-left", 30, 0);
 }
  // .product-info__review-bottom
 &__review-bottom {
  display: flex;
  justify-content: space-between;
 }
 // .product-info__review-reply
 &__review-reply {
  font-weight: 600;
  color: $accentColor;
 }
 // .product-info__delivery
 &__delivery {
 }
 // .product-info__delivery-box
 &__delivery-box {
  display: grid;
  align-items: center;
  column-gap: rem(30);
  margin-bottom: rem(30);
  @media (min-width: $mobileSmall) {
   grid-template-columns: (130px) minmax(100px, 300px);
  }
 }
 // .product-info__delivery-label
 &__delivery-label {
  font-weight: 600;
  @media (max-width: $mobileSmall) {
   margin-bottom: rem(15);
  }
 }
 .select__value {
  width: 100%;
 }
}